@font-face {
    font-family: Roboto;
    src: url("font/Roboto-Medium.ttf");
}

body {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 100vh;
    background-color: #d9d4f7;
}

.header {
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: fantasy;
    font-size: 3vh;
}

.body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 95%;
    width: 100%;
}

.offres {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 40vw;
    background-color: #ffffd4;
}

.offre {
    position: relative;
    width: 35vw;
    height: 20vh;
    margin: 30px;
    padding: 20px;
    outline: solid;
}

.titre {
    font-size: 2vw;
    font-family: Roboto, serif;
    position: absolute;
    top: 0;
    left: 10px;
}

.ville {
    font-size: 40px;
    font-family: Roboto, serif;
    position: absolute;
    bottom: 0;
    left: 10px;
}

.prix {
    font-size: 60px;
    font-family: Roboto, serif;
    position: absolute;
    bottom: 0;
    right: 10px;
}

.dates {
    font-size: 30px;
    font-family: Roboto, serif;
    position: absolute;
    top: 40px;
    right: 10px;
}

